<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="A Task Management System through which a user can create, edit, list and delete tasks.">
  <meta name="author" content="Astik Anand">

  <title>CourseFinder | Home</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:#13a5a6;font:bold">CourseFinder</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav select-active">
          <li class="<% if @search_term.downcase != 'java' && @search_term.downcase != 'ruby' %>active<% end %>"><a href="/">Home</a></li>
          <li class="<% if @search_term.downcase == 'java' %>active<% end %>"><a href="?search=java">Java</a></li>
          <li class="<% if @search_term.downcase == 'ruby' %>active<% end %>"><a href="?search=ruby">Ruby</a></li>
        </ul>

        <div class="col-sm-6 col-md-6">
          <form action="<%= root_path %>" method="get" class="navbar-form">
          <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search courses java, python, ruby etc ...", class: "form-control" %>
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
          </form>
        </div>

       
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/astikanand/course-finder"><i class="fa fa-github"></i></a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Signup</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container page-wrapper">
    <%= yield %>
  </div>

  <div class="footer">
    <p style="font-size:10px; color:black">CourseFinder &copy; Copyright 2017. [Developed By: Astik Anand]</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/d160a12b22.js"></script>
</body>
</html>
